*{
  margin: 0;
  padding: 0;
  /* background-color: #2a3436; */
  
}
.info{
  height: 100px;
  width: 100%;
  float: left;
  /* border: 1px solid gray; */
}
.gems{
  float: left;
  /* z-index: 0; */
  /* width: 400px; */
  /* height: 400px; */
}
.character1{
  float: left;
  /* z-index: 1; */
  /* width: 370px; */
  /* height: 500px; */
  /* border: 1px solid gray; */
}
.character2{
  float: left;
  /* width: 370px; */
  /* height: 500px; */
  /* border: 1px solid gray; */
}
div{
  width: 33.33%;
  /* height: auto; */
}
/* .clearfix {
  overflow: auto;
  clear: both;
} */
img{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}



/* 


// gemDelete.forEach(element => {
	// 	// for (var i = 0; i < colors.length; i++) {
	// 		// if (colors[i] < 3 && colors[i] > 0 ) {
  //       switch (element.name) {
  //         case "blue":
  //           gemDelete.splice(element,1);
  //           break;
  //         case "pink":
  //           gemDelete.splice(element,1);
  //           break;
  //         case "green":
  //           gemDelete.splice(element,1);
  //           break;
  //         case "yellow":
  //           gemDelete.splice(element,1);
  //           break;
  //         default:
  //           break;
  //       }
	// 			// switch (i) {
	// 			// 	case 0:
	// 			// 	// gemDelete //DELETE THE BLUE
	// 			// 		removeColor = gemDelete.map(function(item){return item.name;}).indexOf("blue");
	// 			// 		gemDelete.splice(removeColor,1);
	// 			// 		break;
	// 			// 	case 1:
	// 			// 	// gemDelete //DELETE THE PINK
	// 			// 		removeColor = gemDelete.map(function(item){return item.name;}).indexOf("pink");
	// 			// 		gemDelete.splice(removeColor,1);						
	// 			// 		break;
	// 			// 	case 2:
	// 			// 	// gemDelete //DELETE THE GREEN
	// 			// 		removeColor = gemDelete.map(function(item){return item.name;}).indexOf("green");
	// 			// 		gemDelete.splice(removeColor,1);					
	// 			// 		break;
	// 			// 	case 3:
	// 			// 	// gemDelete //DELETE THE YELLOW
	// 			// 		removeColor = gemDelete.map(function(item){return item.name;}).indexOf("yellow");
	// 			// 		gemDelete.splice(removeColor,1);					
	// 			// 		break;
	// 			// 	default:
	// 			// 		break;
	// 			// }
	// 		// }
	// 	// }
			
  // });
   */
  


