*{
  margin: 0;
  padding: 0;
  /* background-color: #2a3436; */
}
body{
  background-color: #2a3436;
  background-image: url("images/fantasy-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.countdowntimer{
  font-stretch: expanded;
  margin: 10px 0px 0px 36%;
  padding: 1% 0 0 1%;
  color: silver;
  width: 25%;
  height: 60px;
  border: 3px solid silver;
  border-radius: 20px;
  font-size: 20px;
}
.countdowntimer span{
  display: inline;
  margin: 0 0 0 0px;
  font-size: 24px;
  /* width: 70px; ===> has no effect */ 
  text-align: center;
  color: rgb(241, 240, 172);
}

.info{
  height: 10%;
  width: 100%;
  float: left;
  background: linear-gradient(black,rgba(42, 52, 54, 0.8));
}
.info::after {
  content: "";
  background: url("images/cool-pc-backgrounds.jpg");
  opacity: 0.5;
  top: -35%;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: 100% 100%;
  background-position-y: top;
  background-repeat: no-repeat;
}
.info p{
  display: inline;
}
.playerTurn{
  padding: 0px 0px 0px 10px;
}
/* 
#main{
  display: inline;
} */
.presentation{
  position: absolute;
  margin: 10% 0 0 1.8%;
  display: block;
}
#playersName{
  color: aliceblue;
  z-index: 3;
  position: absolute;
  display: inline;
  margin: 100px 0 0 15%;
}
#player1, #player2{
  position: relative;
  float: left;
  color: rgb(241, 240, 172);

}

input{
  padding: 5px 5px 5px 0px;
  margin: 10px 0px 5px 0px;
  size: 50px;
  border: 1px solid rgb(241, 240, 172);
  border-radius: 3px;
  background-color: azure;
}
.radioP1, .radioP2{
  position: relative;
  /* float: right; */
}

#play{
  position: relative;
  float: left;
  /* display: inline; */
  font-weight: 500;
  font-size: 1rem;
  padding: 15px 30px 15px 30px;
  margin: 1% 180px 0 180px;
  border: 1px solid rgb(241, 240, 172);
  border-radius: 6px;
  color: azure;
  background-color: rgba(42, 52, 54, 0.8);
}
.image{
  position: absolute;
  border: 3px solid silver;
  border-radius: 20px;
  background-color: black;
  padding: 5px 5px 5px 5px;
  /* margin-left: -8px; */
  margin: 0% 0 0 2%;
  z-index: 2;
}

.gems{
  float: left;
  z-index: 0;
}
#gems{
  border: 3px solid silver;
  border-radius: 20px;
  background-color: white;
  padding: 5px 3px 3px 5px;
  /* margin-left: -8px; */
  margin: 8% 0 0 5%;
  z-index: 3;
  display: inline-block;
}
.character1{
  position: relative;
  float: left;
  background-color: rgba(42, 52, 54, 0.8);
  border: 3px solid silver;
  border-radius: 10px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin-top: 3%;
  margin-left: 2%;
  /* width: 300px; */
}
.character2{
  background-color: rgba(42, 52, 54, 0.8);
  border: 3px solid silver;
  border-radius: 10px;
  float: left;
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin-top: 3%;
  margin-left: 3.5%;
  /* width: 300px; */
}
/* div img{ */
  /* width: 22.5%; */
/* } */
/* .clearfix {
  overflow: auto;
  clear: both;
} */
/* img{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */
#name1{
  text-align: center;
  float: left;
  margin: 2% 0px 10px 6%;
  color: rgb(241, 240, 172);
}
#name2{
  text-align: center;
  float: right;
  margin: 2% 7% 10px 0px;
  color: rgb(241, 240, 172);
}
.life1{
  /* height: 20px; */
  border: 3px solid silver;
  border-radius: 10px;  
  background-color: silver;
  margin: 2% 0 0 0;
}
.life2{
  /* height: 20px; */
  border: 3px solid silver;
  border-radius: 10px; 
  background-color: silver;
  margin: 2% 0 0 0;
  
}
.lifeChar1{
  height: 20px;
  background-color: lightgreen;
  border-radius: 7px; 
  color: #2a3436;
}
.lifeChar2{
  height: 20px;
  background-color: lightgreen;
  border-radius: 7px;  
  color: #2a3436;
}
